
.session4{
   margin:  20px 386px;
   padding: 15px 20px;
}
.ul__session4{
    display: flex;
}
.nav__session4{
    display: flex;
    margin-bottom: 2.0rem;
}
#link__session4{
    font-size: 2rem;;    
    color: #222222;
    font-weight:40.0rem ;
    border-bottom: 3px solid #333;
}
.link__session4{
    font-size: 1.6em;
    margin: 1rem;
    color: #4f4f4f;
    white-space: 200;
}
.link__session4:hover{
    color: rgb(8, 153, 153);
}
.form__session4{
    display: flex;
}
.left__session4{
    width: 53rem;
    height: 43.5rem;
    padding-left: 1rem;
}
.left__session4 img{
    width: 50rem;
    height: 30rem;
    margin-bottom: 2rem;
}
.heading__left__session4{
    font-size: 2.4rem;
    color: #222222;
    line-height: 2.3rem;
}
.paragrap__left__sesion4{
    line-height: 2.1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.mid__session4{
     width: 28rem;
     height: 43.5rem;
     padding: 0 4rem 0 0;
     margin-left: 5rem;
}
.box__session4{
    width: 24rem;
    height: 21.8rem;
    font-size: 1.5rem;
    color: #222222;
    line-height: 2.3rem;
}
.box__session4 img{
    width: 24rem;
    height: 14.4rem;
    padding-bottom: 1rem;
}
.ritght__session4{
    width: 28rem;
     height: 43.5rem;
     padding: 0 4rem 0 0;
}
.box__right__session4{
    display: flex;
    font-size: 1.8rem;
    margin:  0 0 1.5rem;
    padding: 0 0 1.5rem;
    width: 108%;
    line-height: 2.3rem;
}
.link__box__rigtht{
    font-weight: 700;
    color: #222222;
}
.img__box__rigtht{
    width: 10rem;
    height: 6rem;
}
.black{
    width: 113rem;
    height: 54.3rem;
    margin: 1rem 41rem;
}
.form__black{
    display: flex;
   
}
.img__black{
    position: relative;
}
.black__img{
    width: 80rem;
    height: 48rem;
}
.icon__black{
    display: flex;
    position: absolute;
    bottom: 1.5rem;
    left: 86%;
}
.fas{
    /* font-size:2rem; */
    padding: 1.5rem;
    margin: 0.5rem;
    color: white;
    border-radius: 50%;
    background-color: #2b28287a;
    z-index: 2m;
}
.fas:hover{
    background: rgb(106, 98, 216);
    color: white;
}
.fa-chevron-up{
}
.fa-angle-down{
   
}

.black__bro{
    width: 30rem;
    height: 48rem;
}
.content{
    width: 105%;
    height: 24rem;
    background: #222222;
   
    padding: 1.5rem;
    color: #bdbdbd;
}
.limk__black{
    font-size: 2rem;
    line-height: 3rem;
}
.content a{
    color: #bdbdbd;
}
.paragrap__black{
    margin:  1.4rem 0 1rem;
    font-size: 1.5rem;
}
.contac{
    display: flex;
    font-size: 1.3rem;
}
.span__black{
    margin-right: 1rem;
}
.a__black:hover{
    color: rgb(39, 190, 190);
}
#heading{
    font-size: 1.8rem;
}
.heading__black{
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #333;
    width: 4rem;
    font-weight: 700;
    text-align: center;
}